.container {
    padding-left: 80px ;
    margin: 15px 0px;
}

main{
    max-width: 800px;
    width: 90%;
    margin: auto;
    padding: 20px 60px;
}

.card{
    width: 18rem;
    border-radius: 20px;
    padding: 20px 50px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn {
    padding: 0px 5px;
}