.navbar{
	width: 900px;
	height: 65px;
	padding-left: 220px auto;
}

.nav-link{
	padding: 15px 20px;
}
*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


.navbar-logo{
	display: inline-block;
	vertical-align: middle;
	width: 100px;
}

.navbar-logo img{
	display: block;
	width: 100%;
	height: auto;
}

.navegacion{
	width: 1000px;
	margin: 30px auto;
	background: #fff;
}

.navegacion ul{
	list-style: none;

}

.menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block;
	padding: 15px 20px;
	color: #353535;
	font-family: 'Train One', cursive;;
	text-decoration: none;
}

.menu li a:hover{
	color: #CE7D35;
	transition: all .3s;
}

.submenu{
	position: absolute;
	background: #333333;
	width: 120px;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}
