.tabla{
    justify-content: center;
}

.btn-editar {
    background-color: #81cbce;
    border-radius: 5px;
    font-family: Roboto, sans-serif;
    padding: 4px 18px;
}

.btn-eliminar {
    background-color: rgb(243, 194, 241);
    border-radius: 5px;
    font-family: Roboto, sans-serif;
    padding: 4px 18px;
}