.main   {
  justify-content: space-between;
  align-items: center;
  padding-left: 170px;
  display:inline-block;
  
}

/*.maincontainer {
  background: url(./assets/img/Dentista.jpg);
	background-repeat: no-repeat;
  background-position: center; 
  background-size: cover;
  width: 100%;
  height: 100%;
}*/

body { 
  /*background: url(./assets/img/Dentista.jpg) no-repeat   fixed;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}